body {
    background-color: dodgerblue;
}

.auth {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 300px;
}

.auth-container {
    border: 8px solid black;
    padding: 10px;
    margin-bottom: 30px;
    align-items: center;
}

.workout-container {
    width: 400px;
    display: flex;
    flex-direction: column;
}

.workout-container > label {
    margin: 5px 0 5px 0;
}

.workout-container > button {
    margin-top: 10px;
}

div > select {
    margin-right: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    width: 300px;
    border: 2px solid black;
    margin-bottom: 30px;
    padding: 0 0 20px 10px;
}
